<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>角色管理</title>
    <link rel="stylesheet" th:href="@{/js/layui/css/layui.css}">
    <!--日期格式化js-->
    <script th:src="@{/js/date-format.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/layui/laydate/laydate.js}"></script>
    <script th:src="@{/js/layui/layui.js}"></script>
</head>
<body>
<script>
    layui.use('laydate', function () {
        var laydate = layui.laydate;

        laydate.render({
            elem: '#createTime'
        });
    });
</script>
<div style="width: 10px;color: white;margin-top: 10px;"></div>
<div class="demoTable">
    <fieldset class="layui-elem-field">
        <legend>查询条件</legend>
        <div class="layui-field-box">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;部门id：
            <div class="layui-inline">
                <input class="layui-input" name="deptId" id="deptId" placeholder="请输入部门id" autocomplete="off">
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;部门名称：
            <div class="layui-inline">
                <input class="layui-input" name="deptName" id="deptName" placeholder="请输入部门名称" autocomplete="off">
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;创建时间：
            <div class="layui-inline">
                <input class="layui-input" name="createTime" id="createTime" placeholder="请选择创建时间"
                       autocomplete="off">
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;描述：
            <div class="layui-inline">
                <input class="layui-input" name="description" id="description" placeholder="请输入描述" autocomplete="off">
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="layui-btn layui-btn-warm layui-btn-sm" data-type="reload">
                <li class="layui-icon layui-icon-search">查询</li>
            </button>
            <button class="layui-btn layui-btn-sm" data-type="reset">
                <li class="layui-icon layui-icon-refresh-1"> 重置</li>
            </button>
        </div>
    </fieldset>
</div>
<table class="layui-hide" id="demo2" lay-filter="demo2"></table>
</body>
<script>
    layui.use(['table', 'tree'], function () {
        var table = layui.table;
        var form = layui.form;
        var util = layui.util;

        //方法级渲染
        table.render({
            elem: '#demo2',
            //height: 478,
            url: '/dept/deptList', //数据接口,
            id: 'deptManager',
            toolbar: '#headToolBar',//开启头部工具栏，并为其绑定左侧模板
            cols: [
                [ //表头
                    {field: '', title: '', type: 'checkbox'},
                    {field: 'no', title: '序号', type: 'numbers',},
                    {field: 'deptId', title: '部门id', width: 100, align: 'center'},
                    {field: 'deptName', title: '部门名称', align: 'center',},
                    {
                        field: 'status', title: '状态', align: 'center', templet: function (res) {
                            if (res.status == 1) return '<span style="color: green">启用</span>';
                            else return '<span style="color: red">禁用</span>';
                        }
                    },
                    {field: 'description', title: '描述', align: 'center'},
                    {
                        field: 'createTime', title: '创建时间', align: 'center', templet: function (res) {
                            return util.toDateString(res.createTime, "yyyy-MM-dd HH:mm:ss");
                        }
                    },
                    {field: '', title: '操作', width: 230, align: 'center', toolbar: '#barDemo'}
                ]
            ],
            done: function (res, curr, count) {// 表格渲染完成之后的回调
                var that = this.elem.next();
                if (res.code === 0) {
                    res.data.forEach(function (item, index) {//item表示每列显示的数据
                        if (index % 2 !== 0) {
                            that.find(".layui-table-box tbody tr[data-index='" + index + "']").css("background-color", "#F5F5F5");
                        }
                    })
                }
            },
            page: true,
            response: {
                statusName: 'code', //数据状态的字段名称，默认：code
                statusCode: 0,//成功的状态码，默认：0
                msgName: 'msg', //状态信息的字段名称，默认：msg
                countName: 'count', //数据总数的字段名称，默认：count
                dataName: 'data' //数据列表的字段名称，默认：data
            }
        });


        var $ = layui.$, active = {
            reload: function () {  //查询
                var deptId = $('#deptId');
                var deptName = $('#deptName');
                var description = $('#description');
                var createTime = $('#createTime');
                table.reload('deptManager', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    where: {
                        deptId: deptId.val(),
                        deptName: deptName.val(),
                        description: description.val(),
                        createTime: createTime.val()
                    }
                }, 'data')
            },
            reset: function () {//重置
                $('#deptId').val('');
                $('#deptName').val('');
                $('#description').val('');
                $('#createTime').val('');
            }
        };
        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //禁用部门
        function deleteDept(data) {
            if (data.length === 0) {
                layer.msg("小样，请选择你要操作的数据哦！", {icon: 5});
                return false;
            }
            $.ajax({
                url: "/dept/disable",
                type: "POST",
                contentType: "application/json",//请求内容为Json
                dataType: 'json',
                data: JSON.stringify(data),
                success: function (res) {
                    if (res.success === true) {
                        //关闭弹框
                        layer.msg("禁用成功了哦，小样！", {icon: 6});
                        table.reload('deptManager', {});//刷新表格
                    } else {
                        layer.msg("禁用失败了哦，小样！", {icon: 5});
                    }
                }
            });
        }

        //点击添加 弹窗头部（添加 禁用）
        table.on('toolbar(demo2)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'add':
                    layer.open({
                        type: 1,
                        anim: 4,
                        title: '新增部门',
                        area: ['600px', '400px'],
                        content: $("#addDeptForm"),//引用的弹出层的页面层的方式加载修改界面表单
                    });
                    break;
                case 'disable':
                    var deptArray = [];
                    var d = checkStatus.data;
                    for (var i = 0; i < d.length; i++) {
                        deptArray.push(d[i].deptId)
                    }
                    deleteDept(deptArray);
                    break;
            }
        });

        //监听工具条(操作栏: 菜单 启用 禁用)
        table.on('tool(demo2)', function (obj) {
            var data = obj.data;
            if (obj.event === 'enable') {//启用
                if (data.status == 1) {
                    layer.msg("小样，已经是启用状态了哦！", {icon: 6});
                    return false;
                }
                var deptId = data.deptId;
                $.ajax({
                    url: '/dept/enable/' + deptId,
                    type: 'post',
                    dataType: "json",
                    async: false,
                    contentType: "application/json",//请求内容为Json
                    success: function (res) {
                        if (res.success === true) {
                            layer.msg("启用成功了哦，小样！", {icon: 6});
                            table.reload('deptManager', {});
                        } else {
                            layer.msg("启用失败了哦，小样！", {icon: 5});
                        }
                    }
                });
            } else if (obj.event === 'disable') {//禁用
                if (data.status == 0) {
                    layer.msg("小样，已经是禁用状态了哦！", {icon: 6});
                    return false;
                }
                var deptArray = [];
                deptArray.push(data.deptId);
                deleteDept(deptArray);
            } else {//编辑

                layer.open({
                    type: 1,
                    anim: 4,
                    title: "修改部门信息",
                    area: ['600px', '400px'],
                    content: $("#editDeptForm"),//引用的弹出层的页面层的方式加载修改界面表单
                    success: function (layero, index) {
                        $('#deptName2').val(data.deptName);
                        $('#description2').val(data.description);
                        //状态
                        data.status == 0 ? $("#status0").attr("checked", true) : $("#status1").attr("checked", true);
                        //将id值传给编辑form的id
                        $('#deptId1').val(data.deptId)

                        //你的HTML是动态生成的，自动渲染就会失效
                        //需要在相应的地方，执行下述方法来手动渲染form
                        form.render();

                    }
                })
            }
        });

        //新增或修改部门formDemo为提交按钮
        form.on('submit(formDemo)', function (d) {
            $.ajax({
                url: '/dept/addOrUpdateDept',
                type: 'post',
                dataType: "json",
                async: false,
                contentType: "application/json",//请求内容为Json
                data: JSON.stringify(d.field),
                success: function (res) {
                    if (res.success === true) {
                        layer.msg("新增成功了哦，小样！", {icon: 6});
                    } else {
                        layer.msg("新增失败了哦，小样！", {icon: 5});
                    }
                }
            });
        })


    })
</script>
<script type="text/html" id="barDemo">
    <shiro:hasPermission name="dept:modify">
        <a class="layui-btn layui-btn layui-btn-warm layui-btn-xs" lay-event="edit">
            <i class="layui-icon layui-icon-set"></i>编辑</a>
    </shiro:hasPermission>
    <shiro:hasPermission name="dept:enable">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="enable">
            <i class="layui-icon layui-icon-edit"></i>启用</a>
    </shiro:hasPermission>
    <shiro:hasPermission name="dept:disable">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="disable">
            <i class="layui-icon layui-icon-delete"></i>禁用</a>
    </shiro:hasPermission>
</script>
<script type="text/html" id="headToolBar">
    <shiro:hasPermission name="dept:add">
        <button type="button" class="layui-btn  layui-btn-normal layui-btn-sm layui-btn-radius" lay-event="add">添加
        </button>
    </shiro:hasPermission>
    <shiro:hasPermission name="dept:disable">
        <button type="button" class="layui-btn layui-btn-danger layui-btn-sm layui-btn-radius" lay-event="disable">禁用
        </button>
    </shiro:hasPermission>
</script>
<!--新增部门form-->
<form class="layui-form" action="" id="addDeptForm" style="display: none">
    <div style="margin-top: 36px"></div>
    <div class="layui-form-item">
        <label class="layui-form-label">部门名称</label>
        <div class="layui-input-block">
            <input type="text" name="deptName" id="deptName1" required lay-verify="required" autocomplete="off"
                   class="layui-input" style="height:30px;width:400px;" placeholder="请输入部门名称">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block" id="status">
            <input type="radio" name="status" value="1" title="启用">
            <input type="radio" name="status" value="0" title="禁用">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block" style="width:400px;">
            <textarea name="description" id="description1" placeholder="请输入部门描述" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item" style="margin-left: 65px">
        <div class="layui-input-block">
            <button class="layui-btn" style="margin-left: 65px" lay-submit lay-filter="formDemo">提交</button>
        </div>
    </div>
</form>

<!--查看编辑 form-->
<form class="layui-form" action="" id="editDeptForm" style="display: none">
    <div style="margin-top: 36px"></div>
    <input type="text" name="deptId" id="deptId1" autocomplete="off" style="display: none">
    <div class="layui-form-item">
        <label class="layui-form-label">部门名称</label>
        <div class="layui-input-block">
            <input type="text" name="deptName" id="deptName2" required lay-verify="required" autocomplete="off"
                   placeholder="请输入中文名字"
                   class="layui-input"
                   style="height:30px;width:400px;">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block" id="status2">
            <input type="radio" name="status" id="status1" value="1" title="启用">
            <input type="radio" name="status" value="0" id="status0" title="禁用">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block" style="width:400px;">
            <textarea name="description" id="description2" class="layui-textarea" placeholder="请输入描述"></textarea>
        </div>
    </div>
    <div class="layui-form-item" style="margin-left: 65px">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">提交</button>
            <button type="reset" class="layui-btn layui-btn-normal">重置</button>
            </button>
        </div>
    </div>
</form>
</html>