<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Springboot&nbsp;系&nbsp;统</title>
    <link rel="stylesheet" th:href="@{/js/layui/css/layui.css}">
    <script th:src="@{/js/layui/layui.js}"></script>
    <style>
        /*设置主页不关闭*/
        .layui-tab ul.layui-tab-title li:nth-child(1) i {
            display: none;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <!--    header 区域-->
    <div class="layui-header">
        <div class="layui-logo" id="logo" onclick="index()">
            <img data-th-src="@{/img/logo.png}">
            <!--            <span>Layui</span>-->
        </div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img th:src="@{/img/tools1.jpg}" class="layui-nav-img">
                    [[${user.chinaName}]]
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="" lay-event="modify">修改密码</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a th:href="@{/logout}">注销<span class="layui-badge-dot"></span></a></li>
        </ul>
    </div>

    <!-- 左侧菜单导航区域 -->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll" id="navTree" lay-filter="fsLeftMenu"></div>
    </div>

    <div class="layui-body">
        <div class="layui-tab layui-tab-card fsTab" lay-filter="fsTab" lay-allowClose="true" style="margin-top: 2px;">
            <!-- 菜单导航 tab页-->
            <ul class="layui-tab-title" style="background-color: #f5f7f9"
                onclick="$('#mainIframe').attr('src','/main')">
                <li class="" lay-id="1"><i class="layui-icon layui-icon-home"></i>&nbsp;主页</li>
            </ul>
            <!-- 主体内容 区域-->
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <iframe id="mainIframe" th:src="@{/main}" style="width: 1687px;height: 797px;"
                            frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>

    <!--    footer区域-->
    <div class="layui-footer" style="text-align: center">
        白茶清欢には他に何もありません、私は風を待って、あなたを待っています、ワインがこれから離れると、風も月も、あなたもいなくなります
    </div>
</div>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
</body>
<script>
    //根据用户id查询角色对应的菜单(渲染左侧导航栏菜单)
    var userId = [[${user.id}]];
    $.ajax({
        url: '/menu/list/' + userId,
        type: 'post',
        success: function (data) {
            var result = data;
            var menu = "<ul class='layui-nav layui-nav-tree' lay-filter='test' lay-shrink='all'>"; //定义变量存储
            for (var i = 0; i < result.length; i++) {
                if (result[i].parentId === 0) { //取出父元素的菜单，拼进页面
                    menu += ' <li class="layui-nav-item "><a href="javascript:;"><i class="' + result[i].icon + '" style="font-size: 20px; color: #1E9FFF;">&nbsp;&nbsp;</i>' + result[i].menuName + '</a><dl class="layui-nav-child">';
                    for (var j = 0; j < result.length; j++) { //继续遍历这几条数据
                        if (result[j].parentId === result[i].menuId) { //取出这个父元素所对应的子元素
                            menu += '<dd> <a  class="site-demo-active" data-type="tabAdd" ' +
                                'data-title="' + result[j].menuName + '" ' +
                                'data-id="' + result[j].menuId + '" href="javascript:;" ' +
                                'data-url="' + result[j].url + '" ' +
                                'onclick="getUrl(\'' + result[j].url + '\')">' +
                                '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' +
                                '<i class="layui-icon ' + result[j].icon + '" ' +
                                'style="font-size: 15px; color: #87CEEB;">&nbsp;&nbsp;' +
                                '</i>' + result[j].menuName + '</a></dd>';
                        }
                    }
                }
                menu += "</dl></li>";
            }
            menu += "</ul>";
            $("#navTree").html(menu);
            menuRender();//当你对导航动态插入了二级菜单，这时你需要重新去对它进行渲染
        }
    });

    function getUrl(url) {
        $('#mainIframe').attr("src", url);
    }

    //点击logo 跳转到主页
    function index() {
        window.location.href = "/index";
    }

    function menuRender() {
        layui.use('element', function () {
            var element = layui.element;
            var layFilter = $("#navTree").attr('lay-filter');
            element.render('nav', layFilter);
        });
    }
</script>
<script th:src="@{/js/layui/layui.all.js}"></script>
<script th:src="@{/js/layui/layui.js}"></script>
<!--点击左侧菜单 右边新增tab页-->
<script th:src="@{/assets/tab/tab.js}"></script>
</html>